HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Application configuration
src/main/resources/application.yml

## Loacl DB
mysql-data
milvus

### etc
.DS_Store
ssh_connect.sh
ssm_tunnel.sh
milvus_connnect.sh
copy_jar_to_server.sh


!**/src/main/resources/prompt/*.txt
/src/main/resources/prompt/*.txt
/src/main/java/com/moeasy/moeasy/controller/account/AccessTokenController.java
/src/main/resources/prompts/**.txt
/src/main/resources/prompts/makeKeywordsUsingSurvey.txt
/src/main/resources/prompts/
/src/main/resources/onbarding/.venv/
/src/main/resources/onbarding/**.ndjson
/src/main/resources/onbarding/**.json
/src/main/resources/onbarding/make_dataset/**.txt
/src/main/resources/onbarding/tunning_llm/**.txt
