aspose-cells==25.8.0
certifi==2025.8.3
charset-normalizer==3.4.3
grpcio==1.74.0
idna==3.10
jpype1==1.6.0
milvus-lite==2.5.1
numpy==2.3.2
packaging==25.0
pandas==2.3.1
protobuf==6.32.0
pymilvus==2.6.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.4
six==1.17.0
tqdm==4.67.1
tzdata==2025.2
ujson==5.10.0
urllib3==2.5.0
